$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
$white: rgb(235, 235, 235);
$blue: rgb(134, 177, 226);
$light-blue: rgba(166, 198, 234, 0.3);
$bg-color: rgb(169, 169, 169);
$cv-width: 800px;
$cv-height: calc($cv-width * 1.414);
$img-dimension: 140px;
$icon-dimension: 25px;
$toggle-width: 90px;
$toggle-height: 30px;
$root-margin: 50px;
