@use './modules/index' as *;

.about {
	display: grid;
	grid-template-rows: auto 1fr;

	&_about {
		padding: 20px 20px;

		&,
		&--edit {
			background-color: $light-blue;
			border-radius: 5px;
			height: auto;
		}

		&--edit {
			textarea {
				padding: 20px;
				resize: none;
				height: auto;
				width: 100%;
				background-color: $light-blue;
				border: none;
			}
		}
	}
}
