@use './modules/index' as *;

.cv {
	width: $cv-width;
	height: $cv-height;
	background-color: $white;
	display: grid;
	row-gap: 20px;
	grid-template-columns: 1fr calc($cv-width/2.8);
	grid-template-rows: 1fr;
	grid-template-areas: 'left right';

	.left {
		grid-area: left;
	}

	.right {
		background-color: $blue;
		grid-area: right;
	}

	.left,
	.right {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
	}
}

.text_title {
	font-weight: 600;
}

.text_title2 {
	font-size: 1.5rem;
	font-weight: 600;
}

.category {
	width: calc($cv-width / 3.8);
	justify-content: center;
	@include category($blue, $white);
}

.category2 {
	width: 100%;
	padding: 0 20px;
	@include category($white, $blue);
}

.submit,
.cancel {
	width: 81px;
	height: 30px;
	background-color: $blue;
	color: $white;
	box-shadow: 2px 2px 1px rgb(0, 0, 0);
	text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);

	&:hover {
		box-shadow: 1px 1px 1px rgb(0, 0, 0);
	}

	&:active {
		box-shadow: 0px 0px 1px rgb(0, 0, 0);
	}
}

.edit,
.add {
	display: none;
	width: 25px;
	cursor: pointer;
}

.actionCont {
	display: none;
}

.actionContMini {
	display: none;
}

.details,
.skills,
.languages,
.title,
.about,
.education,
.experience,
.avatar {
	position: relative;

	&:hover {
		border-radius: 5px;
		outline: 3px solid black;
		outline-offset: 15px;

		.actionCont {
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			gap: 5px;
		}

		.edit,
		.add {
			display: inline;
		}
	}
}

.avatar {
	&:hover {
		border-radius: 50%;
	}
}
