@use './modules/index' as *;

.cv {
	width: $cv-width;
	height: $cv-height;
	background-color: $white;
	display: grid;
	row-gap: 20px;
	grid-template-columns: 1fr calc($cv-width/2.8);
	grid-template-rows: 150px 1fr 1fr 1fr;
	grid-template-areas:
		'title general'
		'about general'
		'education general'
		'experience general';

	.title {
		grid-area: title;
	}

	.general {
		grid-area: general;
	}

	.about {
		grid-area: about;
	}

	.education {
		grid-area: education;
	}

	.experience {
		grid-area: experience;
	}
}

.category {
	width: calc($cv-width / 3.8);
	justify-content: center;
	@include category($blue, $white);
}

.category2 {
	width: 100%;
	padding: 0 20px;
	@include category($white, $blue);
}
