@use './modules/index' as *;

.education {
	&-education {
		.university {
			color: $grey;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;

			li::marker {
				font-size: 1.5rem;
			}
		}
	}
}
