@use './modules/index' as *;

.education {
	&-education {
		.university {
			color: $grey;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-bottom: 15px;

			li::marker {
				font-size: 1.5rem;
			}
		}

		input {
			border: 1px solid black;
		}

		.text_title2--edit {
			font-size: 1.5rem;
			font-weight: 600;
			height: 100%;
		}

		.university--edit {
			height: 100%;
		}

		.dateEdit {
			display: flex;
			gap: 10px;

			input {
				height: 100%;
			}
		}
	}
}
