@use './modules/index' as *;

.experience {
	&-details {
		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-bottom: 15px;

			li::marker {
				font-size: 1.5rem;
			}
		}

		&--edit {
			input {
				border: 1px solid black;
			}
		}

		.job {
			&-about {
				margin-bottom: 10px;
				&_date {
					color: $grey;
				}
			}

			&-description {
				.text_title {
					font-size: 1.1rem;
					margin-bottom: 5px;
				}
			}
		}
	}
}
