@use "./modules/index" as *;

.general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cont {
  position: relative;

  .toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
}
