@use './modules/index' as *;

.title {
	margin: 20px 20px 0 20px;

	&_name {
		color: $blue;
		font-size: 3rem;
		text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
		margin-bottom: 10px;
		font-weight: 600;
	}

	&_title {
		font-size: 1.8rem;
	}

	&:hover {
		border-radius: 5px;
		outline: 2px solid black;
		outline-offset: 10px;
	}
}
