@use './modules/index' as *;

.title {
	&_name {
		color: $blue;
		font-size: 3rem;
		text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
		margin-bottom: 10px;
		font-weight: 600;
	}

	&_title {
		font-size: 1.8rem;
	}
}
