@use './modules/index' as *;

.title {
	&--edit {
		display: flex;
		flex-flow: column;
		gap: 10px;
	}

	&_name {
		text-shadow: 1.5px 1.5px 0px rgb(0, 0, 0);
		margin-bottom: 10px;

		&,
		&--edit {
			color: $blue;
			font-size: 3rem;
			font-weight: 600;
			&::placeholder {
				color: $blue;
			}
		}

		&--edit {
			width: 100%;
			height: 100%;
		}
	}

	&_title {
		&,
		&--edit {
			font-size: 1.8rem;
		}

		&--edit {
			width: 100%;
			height: 100%;

			&::placeholder {
				color: $grey;
			}
		}
	}
}
